[Desktop Entry]
Type=Application
Name=MonoField (@@NAMESPACE@@)
GenericName=MonoField
Comment=MonoField packaged build (@@NAMESPACE@@)
Exec=env OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=MonoField
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
